/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@CHARSET "UTF-8";

//@import "compass/reset";
@import "rgbapng";
@import "partials/forms";
@import "../node_modules/select2/src/scss/core";
@import '../node_modules/pretty-checkbox/src/pretty-checkbox.scss';

body {
    font-size: .875rem;
}

.clear {
    clear: both;
    width: 100%;
    visibility: hidden;
    height: 1px;
    padding: 5px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
    transition: all 0.3s;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    @media (max-width: 768px) {
        z-index: 10000;

        & {
            width: 0;
        }
        &.active {
            margin-left: 0;
            width:90%;
        }
    }

    /* Position and style the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;

        /* When you mouse over the navigation links, change their color */
        &:hover {
            color: #f1f1f1;
        }
    }

    .sidebar-sticky {
        top: 0;
        height: calc(100vh - 25px);
    }

    .nav {
        margin-top: 50px;

        @media (max-width: 768px) {
            margin-top: 20px;
        }

        .nav-link {
            white-space: nowrap;
            font-weight: 500;
            font-size: .750rem;
            color: #333;
            padding: .4rem 1rem;

            .text {
                display: inline-block;
            }

            .feather {
                margin-right: 4px;
                color: #999;
            }

            &.active {
                color: #007bff;
            }

            &:hover, &.active {
                .feather {
                    color: inherit;
                }
            }
        }

        #sidebar-minimize-btn {
            position: absolute;
            bottom: 40px;
            right: 0;
            color: #000;
            span {
                color: inherit;
            }

            .close-arrow{
                display: inline;
            }

            .open-arrow{
                display: none;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &.collapsed {
        max-width: 50px;

        & + main {
            min-width: 100% !important;
            padding-left: 70px !important;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            & + main {
                min-width: 0px !important;
                padding-left: 1.5rem !important;
            }
        }

        .nav {
            .nav-link {
                .text {
                    display: none;
                    @media (max-width: 768px) {
                        display: inline-block;
                    }
                }
            }

            #sidebar-minimize-btn {
                outline: none;
                .close-arrow{
                    display: none;
                }

                .open-arrow{
                    display: inline;
                }
            }
        }
    }
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
* Navbar
*/

.navbar {
    &.navbar-dark,
    &.bg-dark {
        color: #fff;
    }

    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        text-align: center;
    }

    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
}

/*
* Utilities
*/

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.nowrap {
    white-space: nowrap;
}

.form-control.dd-list {
    border: none;
}

.dd{
    float: none !important;
    width: 100% !important;
    max-width: initial !important;
}

/* The sidepanel menu */
.sidepanel {
    height: 96vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    margin-top: 2vh;
    position: fixed; /* Stay in place */
    z-index: 10000; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #efefef; /* grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */

    /* The sidepanel links */
    & > a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;

        /* When you mouse over the navigation links, change their color */
        &:hover {
            color: #f1f1f1;
        }
    }

    /* Position and style the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.select2-dropdown.in_sidepanel {
    z-index: 1000000;
}


/* Style the button that is used to open the sidepanel */
.openSidePanelBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;

    &:hover {
        background-color: #444;
    }
}

#overlay {
    @include rgba-background(rgba(0,0,0,0.75));
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
}


.admin-page {
    &.admin-dashboard  {
        .counters{
            width: 100%;
            .counter{
                display: block;
                label{
                    float: left;
                    width: 33%;
                    font-weight: bold;
                }
                &:after{
                    display: block;
                    content: ' ';
                    width: 100%;
                    clear: both;
                }
            }
        }
    }
}

.form-control.has-errors {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control {
    padding: 4px 8px;
    font-size: .875rem;
    border-color: #aaa;
}

.form-item {
    margin-bottom: 1rem;

    .label-switch {
        margin-bottom: 0;
    }

    input[type=checkbox] {
        width: auto;
        display: inline-block;
        margin-right: 5px;
    }
}

.elements_list {
    padding-left: 10px;
    li {
        line-height: 26px;

        .deassoc_lnk {
            text-decoration: none;
            font-weight: 900;
            font-size: 18px;
            margin-left: -1px;
            margin-top: -5px;
            border: solid 1px;
            border-radius: 50%;
            width: 20px;
            display: inline-block;
            text-align: center;
            padding: 0;
            height: 20px;
            line-height: 19px;
        }
    }
}

.page-gallery {
    .gallery-elem {
        position: relative;
        width: 150px;
        display: inline-block;

        .deassoc_lnk {
            position: absolute;
            top: 0;
            right: 0;
            text-decoration: none;
            font-weight: 900;
            font-size: 18px;
            margin-left: -1px;
            margin-top: -5px;
            border: solid 1px;
            border-radius: 50%;
            width: 20px;
            display: inline-block;
            text-align: center;
            padding: 0;
            height: 20px;
            line-height: 19px;
        }
    }
}

.table {
    .thead-dark {
        th{
            a.ordering {
                color: inherit;
            }
        }
    }
}

.version {
    color: #c4c4c4;
    font-size: 0.5em;
    position: fixed;
    bottom: 0;
    right: 0;
    bottom: 25px;
    right: -15px;
    transform: rotate(-90deg);
}

.logo-image {
    max-height: 30px;
}

.small {
    .form-control,
    .select2-selection {
        font-size: 9px;
        line-height: 11px;
        height: 22px;
    }
    .select2-container--default {
        .select2-selection--single {
            .select2-selection__arrow {
                height: 22px;
            }
            .select2-selection__rendered  {
                line-height: 22px;
            }
        }
    }
}

.btn.btnaddmore {
  color: #fff;
  background-color: #007bff;

    &:hover {
      color: #fff;
      background-color: #0069d9;
    }
}
