@use "partials/variables" as *;
@use "partials/colors" as *;
@use "partials/typography" as *;
@use "partials/mixins" as *;
@use "partials/forms" as *;
@use "partials/admin_sidebar" as *;
@use "partials/admin_ui" as *;
@use "partials/dark-mode" as *;
@use "partials/debugbar" as *;

@use "../node_modules/select2/src/scss/core";
@use '../node_modules/pretty-checkbox/src/pretty-checkbox.scss';

@use "../vendor/components/font-awesome/scss/fontawesome.scss";
@use "../vendor/components/font-awesome/scss/solid.scss";
@use "../vendor/components/font-awesome/scss/regular.scss";

@use "../node_modules/driver.js/dist/driver.min.css";
@use "../node_modules/shepherd.js/dist/css/shepherd.css";

@CHARSET "UTF-8";

body {
    font-size: .875rem;
    animation: color 750ms ease;
    animation: backgroud-color 750ms ease;
    animation: border 750ms ease;
}

*:hover,
*:focus,
*:active {
    transition: all 0.2s ease-in-out;
}

.clear {
    clear: both;
    width: 100%;
    visibility: hidden;
    height: 1px;
    padding: 5px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*
* Navbar
*/

.navbar {
    &.navbar-dark,
    &.bg-dark {
        color: $color-white;
    }

    .navbar-brand {
        transition: all 0.3s;

        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        text-align: center;

        .logo-image {
            display: inline;
        }
        .logo-image-small {
            display: none;
        }

        &.collapsed {
            max-width: $max-width-collapsed;
            @media (max-width: 768px) {
                max-width: 100%;
            }
            padding-left: 5px;
            padding-right: 5px;

            .logo-image {
                display: none;
            }

            .logo-image-small {
                display: inline;
            }

            @media (max-width: 768px) { 
                .logo-image {
                    display: inline;
                }
    
                .logo-image-small {
                    display: none;
                }    
            }
        }
    }

    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
}

.form-control-dark {
    color: $color-white;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
}

/*
* Utilities
*/

.border-top { border-top: 1px solid $color-almostwhite3; }
.border-bottom { border-bottom: 1px solid $color-almostwhite3; }

.nowrap {
    white-space: nowrap;
}

.form-control.dd-list {
    border: none;
}

.dd{
    float: none !important;
    width: 100% !important;
    max-width: initial !important;
}

.overlay {
    background: rgba(0,0,0,0.75);
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
}


.admin-page {
    &.admin-dashboard  {
        .counters{
            .counter{
                a {
                    color: inherit;
                }

                svg {
                    zoom: 2.5;
                    margin-right: 3px;
                }

                label{
                    font-weight: bold;
                }
            }
        }
    }
}

.form-control.has-errors {
    border-color: $color-red;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control {
    padding: 4px 8px;
    font-size: .875rem;
    border-color: $color-lightgray3;
    padding: 7px !important;
    border-radius: 7px;
    font-size: 1.1em;
}

.form-item {
    margin-bottom: 1rem;

    .label-switch {
        margin-bottom: 0;
    }

    input[type=checkbox] {
        width: auto;
        display: inline-block;
        margin-right: 5px;
    }
}

.elements_list {
    padding-left: 10px;
    li {
        line-height: 26px;

        .deassoc_lnk {
            text-decoration: none;
            font-weight: 900;
            font-size: 18px;
            margin-left: -1px;
            margin-top: -5px;
            border: solid 1px;
            border-radius: 50%;
            width: 20px;
            display: inline-block;
            text-align: center;
            padding: 0;
            height: 20px;
            line-height: 16px;
        }
    }
}

.downloadable-gallery,
.book-gallery,
.page-gallery {
    .gallery-elem {
        position: relative;
        width: 150px;

        .deassoc_lnk {
            text-decoration: none;
            font-weight: 900;
            font-size: 18px;
            margin-left: -1px;
            margin-top: -5px;
            border: solid 1px;
            border-radius: 50%;
            width: 20px;
            display: inline-block;
            text-align: center;
            padding: 0;
            height: 20px;
            line-height: 16px;
        }
    }
}

.items-list {
    .items-elem {
        position: relative;
        width: 150px;
        display: inline-block;
        padding-top: 10px;
        padding-right: 20px;
        text-align: right;

        .deassoc_lnk {
            position: absolute;
            top: 5px;
            right: 5px;
            text-decoration: none;
            font-weight: 900;
            font-size: 18px;
            margin-left: -1px;
            margin-top: -5px;
            border: solid 1px;
            border-radius: 50%;
            width: 20px;
            display: inline-block;
            text-align: center;
            padding: 0;
            height: 20px;
            line-height: 16px;
        }
    }
}

.table {
    .thead-dark {
        th{
            a.ordering {
                color: inherit;
            }
        }
    }
}

.version {
    color: $color-lightgray4;
    font-size: 0.5em;
    position: fixed;
    bottom: 0;
    right: 0;
    bottom: 25px;
    right: -15px;
    transform: rotate(-90deg);
}

.logo-image {
    max-height: 30px;
}

.small {
    .form-control,
    .select2-selection {
        font-size: 9px;
        line-height: 11px;
        height: 22px;
    }
    .select2-container--default {
        .select2-selection--single {
            .select2-selection__arrow {
                height: 22px;
            }
            .select2-selection__rendered  {
                line-height: 22px;
            }
        }
    }
}

.btn.btnaddmore {
  color: $color-white;
  background-color: $color-blue;

    &:hover {
      color: $color-white;
      background-color: $color-blue2;
    }
}

.page-title {
    .feather {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
    }
}

/* HTML: <div class="loader"></div> */
.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: $color-lightgray4;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}