$lightgrey: #eaeaea;

@import "partials/forms";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600");
@import "../node_modules/select2/src/scss/core";
@import '../node_modules/pretty-checkbox/src/pretty-checkbox.scss';

body {
    padding: 10px;
    background: $lightgrey;
    color: #333858;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.alert {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }
}

ul.choose-lang {
    text-align: right;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        display: inline-block;
        margin-left: 10px;
    }
}

.links_exchange {
    li {
        span {
            display:block;
        }
        .link-url {

        }
        .link-title {

        }
        .link-description {

        }
    }
}

.nav-item {
    position: relative;
}

ol.breadcrumb {
    width: 100%;
}

ul.breadcrumbs {
    padding: 0;
    li {
        display: inline-block;

        &:after {
            content: '/';
            display: inline-block;
            margin: 0 5px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}


.menu {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa !important;

    .navbar {
        width: 100%;
    }

    @media all and (max-width: 991px) {
        flex-direction: column;
    }


    .searchform-mini {
        align-self: center;

        @media all and (max-width: 991px) {
            align-self: flex-start;
            width: 100%;
        }
    }
}



.footer {
    margin-top: 20px;
}
