@use "partials/colors" as *;
@use "partials/forms" as *;
@use "partials/lightbox" as *;
@use "../node_modules/select2/src/scss/core";
@use '../node_modules/pretty-checkbox/src/pretty-checkbox.scss';

$fa-font-path: "../vendor/components/font-awesome/webfonts";
@use "../vendor/components/font-awesome/scss/fontawesome.scss";
@use "../vendor/components/font-awesome/scss/solid.scss";
@use "../vendor/components/font-awesome/scss/regular.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600");

body {
    padding: 10px;
    background: $color-lightergray;
    color: $color-darkblue;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.alert {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }
}

ul.choose-lang {
    text-align: right;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        display: inline-block;
        margin-left: 10px;
    }
}

.links_exchange {
    li {
        span {
            display:block;
        }
        .link-url {
            font-size: 130%;      
        }
        .link-title {

        }
        .link-description {

        }
    }
}

.nav-item {
    position: relative;
}

ol.breadcrumb {
    width: 100%;
}

ul.breadcrumbs {
    padding: 0;
    li {
        display: inline-block;

        &:after {
            content: '/';
            display: inline-block;
            margin: 0 5px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}


.menu {
    display: flex;
    justify-content: space-around;
    background-color: $color-almostwhite2 !important;

    & > div {
        display: flex;
        align-items: center;
    }

    & > * {
        align-self: center;
    }

    .navbar {
        width: 100%;
    }

    @media all and (max-width: 991px) {
        flex-direction: column;
    }


    .searchform-mini {
        align-self: center;

        @media all and (max-width: 991px) {
            align-self: flex-start;
            width: 100%;
        }
    }
}

.footer {
    margin-top: 20px;
}

.user-area-link{
    white-space: nowrap;
    padding: 5px 10px;
}