.idea
composer.lock
docs
vendor
node_modules/
*.sublime-projectcompletions
*.sublime-project
*.sublime-workspace
*.sublime-classdb
.php_cs.cache
.env
.install_done
.sass-cache
var/log/*.log
var/cache/*
var/dumps/*
var/tmp/*
!var/cache/.gitkeep
!var/dumps/.gitkeep
!var/log/.gitkeep
!var/tmp/.gitkeep
pub/css/*
pub/js/*
pub/images/*
pub/thumbs/*
!pub/css/.gitkeep
!pub/js/.gitkeep
!pub/images/.gitkeep
!pub/thumbs/.gitkeep
media/*
!media/.gitkeep
pub/bootstrap
pub/jqueryui
pub/jquery
pub/flags
pub/tinymce
pub/debugbar
pub/sitebase_logo.png
pub/favicon.ico
js/dest/*
