.idea
.phpdoc
.npm
.composer
.rnd
.ash_history
.java
composer.lock
package-lock.json
patches.lock.json
docs
vendor
node_modules/
*.sublime-projectcompletions
*.sublime-project
*.sublime-workspace
*.sublime-classdb
.php_cs.cache
.env
.install_done
.sass-cache
.vscode
var/log/*.log
var/cache/*
var/dumps/*
var/tmp/*
!var/cache/.gitkeep
!var/dumps/.gitkeep
!var/log/.gitkeep
!var/tmp/.gitkeep
pub/css/*
pub/js/*
pub/images/*
pub/thumbs/*
pub/vue_theme
!pub/css/.gitkeep
!pub/js/.gitkeep
!pub/images/.gitkeep
!pub/thumbs/.gitkeep
media/*
!media/.gitkeep
pub/bootstrap
pub/jqueryui
pub/jquery
pub/flags
pub/tinymce
pub/debugbar
pub/sitebase_logo.png
pub/sitebase_logo_small.png
pub/favicon.ico
pub/webfonts
js/dest/*
assets/rsa_private.key
assets/rsa_private.csr
assets/rsa_private.pem
assets/minipaint
docker/database/data
docker/elasticsearch/data
docker/data/*
!docker/data/.gitkeep