$color-black: #000;
$color-almostblack: #111;
$color-white: #fff;
$color-almostwhite: #efefef;
$color-almostwhite2: #f8f9fa;
$color-almostwhite3: #e5e5e5;
$color-gray: #333;
$color-gray2: #444;
$color-lightgray: #999;
$color-lightgray2: #818181;
$color-lightgray3: #aaa;
$color-lightgray4: #c4c4c4;
$color-lightergray: #eaeaea;
$color-lightergray2: #f1f1f1;
$color-blue: #007bff;
$color-blue2: #0069d9;
$color-darkblue: #333858;
$color-red: #dc3545;