@use "colors" as *;

body.dark-mode {
    background-color: $color-darkgrey;
    color: $color-almostwhite;

    pre {
        color: inherit;
    }

    .jumbotron {
        background-color: $color-darkgrey2 !important;
        color: $color-almostwhite;

        * {
            color: inherit;
        }
    }

    .sidebar {
        background-color: $color-darkgrey2 !important;
        box-shadow: 3px 3px 15px $color-darkgrey3 !important;
        color: $color-almostwhite !important;

        .nav-link {
/*
            color: #999 !important;
            &:hover {
                color: $color-almostwhite !important;
            }
*/
            &.active {
                color: $color-lightblue !important;
            }
        }
    }

    .sideChat {
        background-color: $color-darkgrey2 !important;
    }

    .card {
        background-color: $color-darkgrey2 !important;
        color: $color-almostwhite3;

        .card-header {
            color: $color-almostwhite;
            background-color: inherit;
            border: none;
    
            svg {
                color: $color-almostwhite;
            }

            .btn {
                color: $color-almostwhite;
            }
        }

        .card-body {
            .nav-link {
                color: $color-almostwhite3;
            }
        }
    }

    .form-control {
        background-color: $color-darkgrey2 !important;
        color: $color-almostwhite !important;
        border-color: $color-darkgrey;
    }
    fieldset.form-control {
        background-color: inherit !important;
        border-color: $color-darkgrey2;
    }
    .select2-results,
    .select2-dropdown,
    .select2-selection--single,
    .select2-selection__rendered,
    .select2-selection--multiple,
    .select2-container {
        background-color: inherit !important;
        border-color: $color-darkgrey2;
        color: $color-almostwhite !important;
    }

    .select2-results__option--selected {
        color: $color-darkgrey !important;
    }

    .select2-selection__choice__display {
        color: $color-darkgrey !important;
    }

    .select2-search__field {
        background-color: $color-darkgrey;
        color: $color-almostwhite;
        border: solid 1px $color-darkgrey3;

        &:focus, &:focus-visible {
            border: solid 1px $color-darkgrey3;
        }
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {
        border: solid 1px $color-darkgrey3;
    }

    .btn {
        &.btn-light {
            background-color: $color-darkgrey3 !important;
            color: $color-almostwhite3 !important;
            border: 1px solid $color-darkgrey2;

            &:hover {
                background-color: $color-lightgray3 !important;
            }
        }
        &.btn-outline-dark {
            color: $color-lightgray3 !important;
            border: 1px solid $color-lightgray3;
            &:hover {
                color: $color-almostblack !important;
                border: 1px solid $color-almostwhite3;
                background-color: $color-almostwhite3 !important;
            }
        }
    }

    .table {
        td, th {
            border-top: solid 1px $color-darkgrey2;
            border-bottom: solid 1px $color-darkgrey2;
        }

        &.table-striped {
            color: $color-almostwhite3;

            tr.even {
                background-color: $color-darkgrey3;
                td {
                    border-top: solid 1px $color-darkgrey2;
                    border-bottom: solid 1px $color-darkgrey2;
                }
            }
        }
    }

    .pagination {
        .page-link {
            background-color: $color-darkgrey3;
            border: $color-darkgrey4;
        }
    }

    .ui-widget-content {
        border: $color-darkgrey4;
    }

    .label-switch {
        &.ui-state-default {
            background: $color-darkgrey3;
            border: $color-darkgrey4;
            color: $color-lightergray;
        }

        &.ui-state-active {
            background-color: $color-blue;
        }
    }

    .nav-tabs {
        border-bottom: solid 1px $color-gray;
        .nav-link {
            &:hover {
                border: solid 1px $color-gray;
            }
            &.active {
                background-color: $color-blue;
                border: $color-darkblue;
                color: $color-almostwhite;
            }
        }
    }

    .border-bottom {
        border-bottom: solid 1px $color-gray !important;
    }

    .dd-panel {
        border: solid 1px $color-darkgrey;

        .dd-handle:before {
            color: $color-almostblack;
        }
        .dd-content {
            background: $color-darkgrey3;
            color: $color-almostwhite;
            border: 0;
        }
    }

    .list-group-item {
        background-color: $color-darkgrey2 !important;
        color: $color-almostwhite3;

        &.active {
            background-color: $color-blue;
            color: $color-almostwhite;
        }
    }

    &.admin-page.admin-login {
        .form-container {
            background-color: $color-gray !important;

            @media (max-width: 992px) { 
                background-color: transparent !important;
            }
        }
    }

    #pagination-layout-selector {
        .nav-link {
            color: $color-lightergray;
        }
    }

    .border {
        border: solid 1px $color-darkgrey !important;
    }

    #versions-table {
        tr {
            &.selected {
                background-color: $color-lightblue;
                color: $color-black;
            }
        }
    }

    table.compare_versions {
        tr {
            th {
                color: $color-almostwhite3;
                background-color: $color-darkblue;

                &.prefix {
                    background-color: $color-darkgrey;
                    color:$color-almostwhite3;
                }                
            }
        }
    }

    .modal-body {
        color: $color-darkgrey;
    }

    #sidebar-minimize-btn {
        span {
            color: $color-lightblue;
        }
    }

    .sidepanel {
        background-color: $color-darkgrey !important;
        color: $color-almostwhite3;

        .closebtn {
            &:hover {
                color: $color-almostwhite3;
            }
        }
    }
}